

<div class="row">
    <div class="move">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h1>Thank you for purchase!</h1>
            <h3>You will recieve products next 3 buisnes days!</h3>
            <img class="box" src="~/BoxToHome.png"/>
            <div class="orderButton">
                <a asp-controller="Product" asp-action="AllProducts" class="btn btn-primary r mt-2">Go back to shop</a>
            </div>
        </div>
    </div>
</div>
