@{
    ViewData["Title"] = "Contacts";
}
<link rel="stylesheet" href="form.css">
<div class="container form-top">

    <div class="row justify-content-center">

        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <h1>@ViewData["Title"]</h1>
            <div class="panel panel-danger mt-5">
                <div class="col-sm-5">
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span> Bulgaria,Devnia</p>
                    <p><span class="glyphicon glyphicon-phone"></span> +359 894301813</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> hristoslavov.ivanov@gmail.com</p>
                    <img class="box"src=~/EverythingForHome.jpg/>
                </div>
            </div>
        </div>
    </div>
</div>