@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 ">Welcome to online shop</h2>
    <h4 class="display-6 ">for electric and water parts</h4>
    <a href="https://localhost:7070/Shop/Parts">
        <button class="button-48" role="button"> <span class="text"> Shop now</span> </button>
    </a>
</div>
