@{
    ViewData["Title"] = "Cart";
}
@model CartAddedProducts

<div class="row">
    <div class="col-md-12 justify-content-center">
        <ul class="list-group">
          
                <li class="list-group-item">An item</li>
                  
        </ul>
    </div>
</div>