@{
    ViewData["Title"] = "Home Page";
}

<div id="example">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">

        <h2 class="display-4 text-light mt-5">Welcome to online shop</h2>
        <h4 class="display-6 text-light">for electric and water parts</h4>

        <a class="button-48" role="button" asp-controller="Product" asp-action="Product" > <span class="text"> Shop now</span> </a>

    </div>
</div>

